@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    background: rgba(19, 18, 18, 0.781);
    opacity: 0.3;
}

h3 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#starter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container {
    margin: 20px auto;
    width: 600px;
    height: 600px;
    outline: 3px solid #000;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
}

.item {
    width: 15px;
    height: 15px;
}

#snake {
    background: yellow;
}

.food {
    background: rgb(33, 166, 255);
}

.snake_body {
    background: white;
}